workflows/markdown-to-jira-pipeline.json
{
  "name": "Markdown → Jira Epic + Stories (Create or Update)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "markdown-to-jira",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "j1000000-0000-0000-0000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "markdown-to-jira"
    },
    {
      "parameters": {
        "jsCode": "function parseMarkdown(md) {\n  const lines = md.split('\\n');\n  const titleLine = lines.find(l => l.startsWith('# '));\n  const title = titleLine ? titleLine.replace(/^# /, '') : 'Untitled';\n  const titleIdx = lines.indexOf(titleLine);\n  const descLines = [];\n  for (let i = (titleIdx >= 0 ? titleIdx + 1 : 0); i < lines.length; i++) {\n    if (lines[i].startsWith('## ')) break;\n    descLines.push(lines[i]);\n  }\n  const description = descLines.join(' ').replace(/\\s+/g, ' ').trim();\n  function getSection(heading) {\n    const start = lines.findIndex(l => l.startsWith('## ' + heading));\n    if (start === -1) return [];\n    const out = [];\n    for (let i = start + 1; i < lines.length; i++) {\n      if (lines[i].startsWith('## ')) break;\n      if (lines[i].trim()) out.push(lines[i]);\n    }\n    return out;\n  }\n  function getField(heading) { const s = getSection(heading); return s.length ? s[0].trim() : ''; }\n  const criteria = getSection('Acceptance Criteria').filter(l => l.startsWith('- ')).map(l => l.replace(/^- /, ''));\n  const priority = getField('Priority') || ($env.JIRA_DEFAULT_PRIORITY || 'Medium');\n  const estimate = getField('Estimate');\n  const component = getField('Component');\n  const labelsStr = getField('Labels');\n  const labels = ['ai-generated'];\n  if (labelsStr) labels.push(...labelsStr.split(',').map(l => l.trim()).filter(Boolean));\n  if (component) labels.push(component);\n  return { title, description, criteria, priority, estimate, component, labels };\n}\n\nfunction buildJiraFields(parsed, issueType, parentKey) {\n  const content = [];\n  if (parsed.description) content.push({ type: 'paragraph', content: [{ type: 'text', text: parsed.description }] });\n  if (parsed.criteria.length > 0) {\n    content.push({ type: 'heading', attrs: { level: 3 }, content: [{ type: 'text', text: 'Acceptance Criteria' }] });\n    content.push({ type: 'bulletList', content: parsed.criteria.map(c => ({ type: 'listItem', content: [{ type: 'paragraph', content: [{ type: 'text', text: c }] }] })) });\n  }\n  const fields = {\n    summary: parsed.title,\n    description: { type: 'doc', version: 1, content },\n    priority: { name: parsed.priority },\n    labels: parsed.labels\n  };\n  if (parentKey) fields.parent = { key: parentKey };\n  return fields;\n}\n\nfunction extractKey(input) {\n  if (!input) return '';\n  const browseMatch = input.match(/\\/browse\\/([A-Z]+-\\d+)/);\n  if (browseMatch) return browseMatch[1];\n  if (input.match(/^[A-Z]+-\\d+$/)) return input;\n  return input.trim();\n}\n\nconst body = $input.first().json.body;\nconst epicMarkdown = body.epicMarkdown || '';\nconst taskMarkdowns = body.taskMarkdowns || [];\nconst epicKey = extractKey(body.epicKey || '');\nconst taskKeys = (body.taskKeys || []).map(k => extractKey(k));\n\nconst epicParsed = parseMarkdown(epicMarkdown);\nconst epicIssueType = $env.JIRA_EPIC_ISSUE_TYPE || 'Epic';\n\n// For create: include project + issuetype. For update: only updatable fields.\nlet epicApiBody, epicMethod, epicUrl;\nif (epicKey) {\n  epicMethod = 'PUT';\n  epicUrl = $env.JIRA_BASE_URL + '/rest/api/3/issue/' + epicKey;\n  epicApiBody = { fields: buildJiraFields(epicParsed, epicIssueType) };\n} else {\n  epicMethod = 'POST';\n  epicUrl = $env.JIRA_BASE_URL + '/rest/api/3/issue';\n  const fields = buildJiraFields(epicParsed, epicIssueType);\n  fields.project = { key: $env.JIRA_PROJECT_KEY };\n  fields.issuetype = { name: epicIssueType };\n  epicApiBody = { fields };\n}\n\nreturn [{ json: { epicApiBody, epicMethod, epicUrl, epicKey, epicTitle: epicParsed.title, taskMarkdowns, taskKeys, isUpdate: !!epicKey } }];"
      },
      "id": "j1000000-0000-0000-0000-000000000002",
      "name": "Parse Epic Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "={{ $json.epicMethod }}",
        "url": "={{ $json.epicUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.epicApiBody) }}",
        "options": { "timeout": 30000 }
      },
      "id": "j1000000-0000-0000-0000-000000000003",
      "name": "Create or Update Epic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "jira-auth",
          "name": "Jira Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function parseMarkdown(md) {\n  const lines = md.split('\\n');\n  const titleLine = lines.find(l => l.startsWith('# '));\n  const title = titleLine ? titleLine.replace(/^# /, '') : 'Untitled';\n  const titleIdx = lines.indexOf(titleLine);\n  const descLines = [];\n  for (let i = (titleIdx >= 0 ? titleIdx + 1 : 0); i < lines.length; i++) {\n    if (lines[i].startsWith('## ')) break;\n    descLines.push(lines[i]);\n  }\n  const description = descLines.join(' ').replace(/\\s+/g, ' ').trim();\n  function getSection(heading) {\n    const start = lines.findIndex(l => l.startsWith('## ' + heading));\n    if (start === -1) return [];\n    const out = [];\n    for (let i = start + 1; i < lines.length; i++) {\n      if (lines[i].startsWith('## ')) break;\n      if (lines[i].trim()) out.push(lines[i]);\n    }\n    return out;\n  }\n  function getField(heading) { const s = getSection(heading); return s.length ? s[0].trim() : ''; }\n  const criteria = getSection('Acceptance Criteria').filter(l => l.startsWith('- ')).map(l => l.replace(/^- /, ''));\n  const priority = getField('Priority') || ($env.JIRA_DEFAULT_PRIORITY || 'Medium');\n  const component = getField('Component');\n  const labelsStr = getField('Labels');\n  const labels = ['ai-generated'];\n  if (labelsStr) labels.push(...labelsStr.split(',').map(l => l.trim()).filter(Boolean));\n  if (component) labels.push(component);\n  return { title, description, criteria, priority, labels };\n}\n\nfunction buildJiraFields(parsed, parentKey) {\n  const content = [];\n  if (parsed.description) content.push({ type: 'paragraph', content: [{ type: 'text', text: parsed.description }] });\n  if (parsed.criteria.length > 0) {\n    content.push({ type: 'heading', attrs: { level: 3 }, content: [{ type: 'text', text: 'Acceptance Criteria' }] });\n    content.push({ type: 'bulletList', content: parsed.criteria.map(c => ({ type: 'listItem', content: [{ type: 'paragraph', content: [{ type: 'text', text: c }] }] })) });\n  }\n  const fields = { summary: parsed.title, description: { type: 'doc', version: 1, content }, priority: { name: parsed.priority }, labels: parsed.labels };\n  if (parentKey) fields.parent = { key: parentKey };\n  return fields;\n}\n\nconst epicResponse = $input.first().json;\nconst prev = $('Parse Epic Markdown').first().json;\n// PUT returns empty body (204), POST returns {key: 'PROJ-123'}\nconst epicKey = prev.epicKey || epicResponse.key;\nconst epicTitle = prev.epicTitle;\nconst taskMarkdowns = prev.taskMarkdowns || [];\nconst taskKeys = prev.taskKeys || [];\nconst storyType = $env.JIRA_STORY_ISSUE_TYPE || 'Story';\nconst jiraBase = $env.JIRA_BASE_URL;\n\nif (taskMarkdowns.length === 0) {\n  return [{ json: { epicKey, epicTitle, noTasks: true } }];\n}\n\nreturn taskMarkdowns.map((md, i) => {\n  const parsed = parseMarkdown(md);\n  const existingKey = taskKeys[i] || '';\n  let method, url, apiBody;\n  if (existingKey) {\n    method = 'PUT';\n    url = jiraBase + '/rest/api/3/issue/' + existingKey;\n    apiBody = { fields: buildJiraFields(parsed, epicKey) };\n  } else {\n    method = 'POST';\n    url = jiraBase + '/rest/api/3/issue';\n    const fields = buildJiraFields(parsed, epicKey);\n    fields.project = { key: $env.JIRA_PROJECT_KEY };\n    fields.issuetype = { name: storyType };\n    apiBody = { fields };\n  }\n  return { json: { apiBody, method, url, taskTitle: parsed.title, epicKey, epicTitle, existingKey } };\n});"
      },
      "id": "j1000000-0000-0000-0000-000000000004",
      "name": "Prepare Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-tasks",
              "leftValue": "={{ $json.noTasks }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "j1000000-0000-0000-0000-000000000005",
      "name": "Has Tasks?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "={{ $json.method }}",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.apiBody) }}",
        "options": { "timeout": 30000 }
      },
      "id": "j1000000-0000-0000-0000-000000000006",
      "name": "Create or Update Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200],
      "credentials": {
        "httpBasicAuth": {
          "id": "jira-auth",
          "name": "Jira Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Prepare Tasks').first().json;\nconst epicKey = prev.epicKey;\nconst epicTitle = prev.epicTitle;\nconst jiraBase = $env.JIRA_BASE_URL;\n\nconst allTasks = $('Prepare Tasks').all();\nconst allResults = $input.all();\n\nconst tasks = allTasks.map((t, i) => {\n  const result = allResults[i]?.json || {};\n  // PUT returns empty, POST returns {key}. Use existingKey as fallback.\n  const key = result.key || t.json.existingKey;\n  return { key, title: t.json.taskTitle, url: jiraBase + '/browse/' + key, action: t.json.existingKey ? 'updated' : 'created' };\n});\n\nreturn [{ json: {\n  success: true,\n  epic: { key: epicKey, title: epicTitle, url: jiraBase + '/browse/' + epicKey, action: $('Parse Epic Markdown').first().json.isUpdate ? 'updated' : 'created' },\n  tasks,\n  taskCount: tasks.length\n} }];"
      },
      "id": "j1000000-0000-0000-0000-000000000007",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "jsCode": "const epicKey = $input.first().json.epicKey;\nconst epicTitle = $input.first().json.epicTitle;\nconst jiraBase = $env.JIRA_BASE_URL;\nconst isUpdate = $('Parse Epic Markdown').first().json.isUpdate;\n\nreturn [{ json: {\n  success: true,\n  epic: { key: epicKey, title: epicTitle, url: jiraBase + '/browse/' + epicKey, action: isUpdate ? 'updated' : 'created' },\n  tasks: [],\n  taskCount: 0\n} }];"
      },
      "id": "j1000000-0000-0000-0000-000000000008",
      "name": "Epic Only Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "j1000000-0000-0000-0000-000000000009",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Parse Epic Markdown", "type": "main", "index": 0 }]] },
    "Parse Epic Markdown": { "main": [[{ "node": "Create or Update Epic", "type": "main", "index": 0 }]] },
    "Create or Update Epic": { "main": [[{ "node": "Prepare Tasks", "type": "main", "index": 0 }]] },
    "Prepare Tasks": { "main": [[{ "node": "Has Tasks?", "type": "main", "index": 0 }]] },
    "Has Tasks?": {
      "main": [
        [{ "node": "Create or Update Task", "type": "main", "index": 0 }],
        [{ "node": "Epic Only Result", "type": "main", "index": 0 }]
      ]
    },
    "Create or Update Task": { "main": [[{ "node": "Aggregate Results", "type": "main", "index": 0 }]] },
    "Aggregate Results": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] },
    "Epic Only Result": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "ai-pipeline" }, { "name": "jira" }, { "name": "markdown" }]
}
