workflows/preview-pipeline.json
{
  "name": "AI Technical Analysis → Preview (Markdown)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "preview",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "preview"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "feature-desc",
              "name": "featureDescription",
              "value": "={{ $json.body.featureDescription }}",
              "type": "string"
            },
            {
              "id": "additional-context",
              "name": "additionalContext",
              "value": "={{ $json.body.additionalContext || '' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "a1000000-0000-0000-0000-000000000002",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const featureDescription = $input.first().json.featureDescription || '';\nconst additionalContext = $input.first().json.additionalContext || '';\n\nconst systemPrompt = `You are a senior software architect performing technical analysis for a development team.\n\nGiven the following feature description, produce a detailed technical analysis as a JSON object.\n\n## Feature Description\n${featureDescription}\n\n## Additional Context\n${additionalContext}\n\n## Output Format\n\nRespond ONLY with valid JSON matching this schema:\n\n{\n  \"title\": \"Short descriptive title\",\n  \"summary\": \"2-3 sentence executive summary\",\n  \"architecture\": {\n    \"overview\": \"High-level architecture description\",\n    \"components\": [{\"name\": \"...\", \"type\": \"frontend|backend|database|infrastructure\", \"description\": \"...\", \"changes\": \"...\"}],\n    \"dataFlow\": \"Data flow description\"\n  },\n  \"apiContracts\": [{\"method\": \"GET|POST|PUT|DELETE\", \"path\": \"/api/...\", \"description\": \"...\", \"requestBody\": {}, \"responseBody\": {}, \"statusCodes\": [\"200 - OK\"]}],\n  \"databaseChanges\": [{\"type\": \"new-table|alter-table\", \"entity\": \"...\", \"description\": \"...\", \"fields\": [{\"name\": \"...\", \"type\": \"...\", \"nullable\": false}]}],\n  \"edgeCases\": [{\"scenario\": \"...\", \"impact\": \"low|medium|high\", \"mitigation\": \"...\"}],\n  \"securityConsiderations\": [\"...\"],\n  \"testingStrategy\": {\"unitTests\": [\"...\"], \"integrationTests\": [\"...\"], \"e2eTests\": [\"...\"]},\n  \"tasks\": [{\"type\": \"epic|story|subtask\", \"summary\": \"...\", \"description\": \"...\", \"component\": \"frontend|backend|database|devops|testing\", \"estimate\": \"XS|S|M|L|XL\", \"priority\": \"Critical|High|Medium|Low\", \"acceptanceCriteria\": [\"Given X, when Y, then Z\"]}],\n  \"estimatedComplexity\": \"low|medium|high\",\n  \"suggestedApproach\": \"Recommended implementation order\"\n}\n\nRules: Tasks should be 1-3 day work items. Include Gherkin acceptance criteria. Be specific, not generic.`;\n\nconst model = $env.AI_MODEL || 'anthropic/claude-opus-4.6';\nconst maxTokens = parseInt($env.AI_MAX_TOKENS || '4096', 10);\nconst authHeader = 'Bearer ' + ($env.GITHUB_TOKEN || '');\n\nconst requestBody = {\n  model,\n  max_tokens: maxTokens,\n  messages: [{ role: 'user', content: systemPrompt }]\n};\n\nreturn [{ json: { requestBody, authHeader, featureDescription, additionalContext } }];"
      },
      "id": "a1000000-0000-0000-0000-000000000003",
      "name": "Build API Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://models.github.ai/inference/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ $json.authHeader }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2026-03-10" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "a1000000-0000-0000-0000-000000000004",
      "name": "Call GitHub Models API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst content = response.choices[0].message.content;\n\nlet jsonStr = content;\nif (content.includes('```json')) {\n  jsonStr = content.split('```json')[1].split('```')[0].trim();\n} else if (content.includes('```')) {\n  jsonStr = content.split('```')[1].split('```')[0].trim();\n}\n\nlet analysis;\ntry {\n  analysis = JSON.parse(jsonStr);\n} catch (e) {\n  throw new Error(`Failed to parse AI response as JSON: ${e.message}\\n\\nRaw response: ${content.substring(0, 500)}`);\n}\n\nconst vars = $('Set Variables').first().json;\n\nreturn [{ json: { analysis, featureDescription: vars.featureDescription } }];"
      },
      "id": "a1000000-0000-0000-0000-000000000005",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const { analysis } = $input.first().json;\nconst date = new Date().toISOString().split('T')[0];\n\nlet md = '';\nmd += `# ${analysis.title}\\n\\n`;\nmd += `> Generated on ${date} by [ai-confluence-pipeline](https://github.com/openmindednewby/ai-confluence-pipeline)\\n\\n`;\nmd += `**Complexity:** ${analysis.estimatedComplexity} | **Approach:** ${analysis.suggestedApproach}\\n\\n`;\nmd += `---\\n\\n`;\nmd += `## Summary\\n\\n${analysis.summary}\\n\\n`;\nmd += `## Architecture\\n\\n${analysis.architecture.overview}\\n\\n`;\nmd += `### Components\\n\\n`;\nmd += `| Component | Type | Description | Changes |\\n`;\nmd += `|-----------|------|-------------|---------|\\n`;\nfor (const c of analysis.architecture.components || []) {\n  md += `| **${c.name}** | \\`${c.type}\\` | ${c.description} | ${c.changes} |\\n`;\n}\nmd += `\\n`;\nif (analysis.architecture.dataFlow) md += `### Data Flow\\n\\n${analysis.architecture.dataFlow}\\n\\n`;\nif (analysis.apiContracts?.length) {\n  md += `## API Contracts\\n\\n`;\n  for (const api of analysis.apiContracts) {\n    md += `### \\`${api.method} ${api.path}\\`\\n\\n${api.description}\\n\\n`;\n    if (api.requestBody && Object.keys(api.requestBody).length) md += `**Request:**\\n\\`\\`\\`json\\n${JSON.stringify(api.requestBody, null, 2)}\\n\\`\\`\\`\\n\\n`;\n    if (api.responseBody && Object.keys(api.responseBody).length) md += `**Response:**\\n\\`\\`\\`json\\n${JSON.stringify(api.responseBody, null, 2)}\\n\\`\\`\\`\\n\\n`;\n    if (api.statusCodes?.length) md += `**Status Codes:** ${api.statusCodes.join(', ')}\\n\\n`;\n  }\n}\nif (analysis.databaseChanges?.length) {\n  md += `## Database Changes\\n\\n| Type | Entity | Description |\\n|------|--------|-------------|\\n`;\n  for (const db of analysis.databaseChanges) {\n    md += `| \\`${db.type}\\` | **${db.entity}** | ${db.description} |\\n`;\n    if (db.fields?.length) {\n      md += `\\n| Field | Type | Nullable | Description |\\n|-------|------|----------|-------------|\\n`;\n      for (const f of db.fields) md += `| \\`${f.name}\\` | \\`${f.type}\\` | ${f.nullable ? 'Yes' : 'No'} | ${f.description || ''} |\\n`;\n    }\n  }\n  md += `\\n`;\n}\nif (analysis.edgeCases?.length) {\n  md += `## Edge Cases\\n\\n| Scenario | Impact | Mitigation |\\n|----------|--------|------------|\\n`;\n  for (const ec of analysis.edgeCases) md += `| ${ec.scenario} | \\`${ec.impact}\\` | ${ec.mitigation} |\\n`;\n  md += `\\n`;\n}\nif (analysis.securityConsiderations?.length) {\n  md += `## Security Considerations\\n\\n`;\n  for (const s of analysis.securityConsiderations) md += `- ${s}\\n`;\n  md += `\\n`;\n}\nif (analysis.testingStrategy) {\n  md += `## Testing Strategy\\n\\n`;\n  const ts = analysis.testingStrategy;\n  if (ts.unitTests?.length) { md += `### Unit Tests\\n`; for (const t of ts.unitTests) md += `- ${t}\\n`; md += `\\n`; }\n  if (ts.integrationTests?.length) { md += `### Integration Tests\\n`; for (const t of ts.integrationTests) md += `- ${t}\\n`; md += `\\n`; }\n  if (ts.e2eTests?.length) { md += `### E2E Tests\\n`; for (const t of ts.e2eTests) md += `- ${t}\\n`; md += `\\n`; }\n}\nif (analysis.tasks?.length) {\n  md += `## Task Breakdown\\n\\n| Type | Summary | Component | Estimate | Priority |\\n|------|---------|-----------|----------|----------|\\n`;\n  for (const t of analysis.tasks) md += `| \\`${t.type}\\` | ${t.summary} | \\`${t.component}\\` | ${t.estimate} | ${t.priority} |\\n`;\n  md += `\\n### Task Details\\n\\n`;\n  for (let i = 0; i < analysis.tasks.length; i++) {\n    const t = analysis.tasks[i];\n    md += `#### ${i + 1}. ${t.summary}\\n\\n${t.description}\\n\\n`;\n    if (t.acceptanceCriteria?.length) { md += `**Acceptance Criteria:**\\n`; for (const ac of t.acceptanceCriteria) md += `- ${ac}\\n`; md += `\\n`; }\n  }\n}\n\nreturn [{ json: { success: true, title: analysis.title, markdown: md, analysis } }];"
      },
      "id": "a1000000-0000-0000-0000-000000000006",
      "name": "Format as Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "a1000000-0000-0000-0000-000000000007",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Set Variables", "type": "main", "index": 0 }]]
    },
    "Set Variables": {
      "main": [[{ "node": "Build API Request", "type": "main", "index": 0 }]]
    },
    "Build API Request": {
      "main": [[{ "node": "Call GitHub Models API", "type": "main", "index": 0 }]]
    },
    "Call GitHub Models API": {
      "main": [[{ "node": "Parse AI Response", "type": "main", "index": 0 }]]
    },
    "Parse AI Response": {
      "main": [[{ "node": "Format as Markdown", "type": "main", "index": 0 }]]
    },
    "Format as Markdown": {
      "main": [[{ "node": "Send Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "ai-pipeline" },
    { "name": "preview" },
    { "name": "github-models" }
  ]
}
